@import "../variables/index.css";

.poster {
	display: inline-block;
	vertical-align: middle;
	
	padding: 1em;

	background-color: white;
	border-radius: 4px;
	box-shadow: #000.3 0 0 1em;
	
	& > * + * {
		margin-top: 1em;	
	}
}

.poster__heading {
	color: #000;
}

.poster__img {
	border-radius: 2px;
}

.poster--default {

}

.poster--small {
	& .poster__img { height: 320px; }
}

.poster--link {
	text-decoration: none;
	color: #000;
	
	&:--enter {
		background-color: #eee;
		text-decoration: none;		
	}
}