.is-sg-nav-expanded {
	overflow: hidden;
}

.sg-nav {
	& a {
		color: #000;
	}

	&.is-expanded {
		& .sg-nav__cover {
			transform: translate3d(0, 0, 0);
			opacity: 1;
			transition-delay: 0s;
			pointer-events: auto;
		}

		& .sg-nav__toggle {
			background-color: #000;
		}

		& .sg-nav__container {
			transform: translate3d(0, 0, 0);
		}
	}
}

.sg-nav__toggle {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;

	padding: 1em;
	background-color: #000.85;
	color: white;

	text-decoration: none;
	cursor: pointer;

	transition: transform 0.45s ease;

	@media (width >= 960px) {
		padding: 1em 2em;
	}
}

.sg-nav__container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 99;
	max-height: 100vh;
	overflow: scroll;

	padding: 1em;
	padding-top: 4em;
	font-size: 1em;
	line-height: 1.7em;

	background-color: #eee;

	transform: translate3d(0, -100%, 0);
	transition: transform 0.35s;
	transition-timing-function: ease-in-out;

	& * + .heading {
		margin-top: 1em;
	}

	& .heading {
		margin-bottom: 0.25em;
	}

	@media (width >= 960px) {
		padding: 2em;
		padding-top: 5em;
	}
}

.sg-nav__cover {
	content: '\0020';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: #000.8;
	
	transition-timing-function: ease;
	transition-property: opacity, transform;
	transition-duration: 0.45s, 0s, 0s;
	transition-delay: 0s, 0.45s, 0.45s;

	opacity: 0;
	pointer-events: none;
	transform: translate3d(0, -100%, 0);
}


.sg-styleguide {
	margin-top: 3em;
	overflow: hidden;

	& > .heading { 
		margin: 0.5em 0.33em; 
		font-size: 3em;
	}

	& a {
		color: #000;
	}

	@media (width >= 960px) {
		& > .heading { 
			margin: 0.5em 0.66em;
		}
	}	
}


.sg-section {
	border-top: 1px solid #eee;

	&--readme {
		padding: 1em;
		
		@media (width >= 960px) {
			padding: 2em;
		}
	}
}


.sg-test {

}

.sg-test__header {
	padding: 1em;
	
	@media (width >= 960px) {
		padding: 2em;
	}

	& > * + * {
		margin-top: 1em;
	}
}

.sg-test__selector {
	& > * + * {
		margin-top: 0.5em;
	}
}

.sg-test__example {
	padding: 1em;
	border-top: 1px solid #eee;

	@media (width >= 960px) {
		padding: 2em;
	}
}

.sg-example {

}

.sg-expample__anchor {
  display: block;
  position: relative;
  top: -4.2em;
  visibility: hidden;
}

.sg-example__header {
	& .heading {
		margin-bottom: 1em;
	}
}

.sg-example__tabs {
	overflow: hidden;
	border-bottom: none;
	font-size: 0.8em;

	@media (width >= 640px) {
		font-size: 1em;
	}
}

.sg-example__tabs-item {
	float: left;
	width: 25%;
	border-bottom: none;
	text-align: center;

	& a {
		display: block;
		padding: 1em 0;

		background-color: #eee;
		color: #222;
		font-weight: bold;

		text-decoration: none;
		
		&:hover {
			background-color: color(#eee blend(#ddd 50%));
		}
	}

	&.is-active a {
		background-color: #ddd;
		font-weight: bold;
	}
}

.sg-example__section {
	display: none;
	border: 1px solid #ccc;
	
	padding: 1em;
	overflow: scroll;

	@media (width >= 960px) {
		padding: 2em;
	}

	&.is-active {
		display: block;
	}
}